.partners {
	max-width: 1160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-top: 286px;
	margin-left: 52px;
}

.partners h1 {
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--color-green);
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	gap: 61px 86px;
	justify-content: center;
	align-items: center;
}

.partners__list div {
	max-width: 322px;
}

.partners__list div img {
	width: 100%;
}