@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap');

:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(141, 253, 27, 1);
  --color-grey: rgba(34, 34, 34, 1);
  --color-purple: rgba(66, 0, 106, 1);
  --color-black: rgba(0, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Mono', monospace;
  border: none;
  outline: none;
  color: var(--color-white);
}

body {
  overflow: hidden;
  margin: auto;
  max-width: 1440px;
  background-color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}